<!DOCTYPE html>
<html="en">
<head>
    ‹meta charset="UTF-8">
    ‹meta name="viewport" content="width=device-width, initial-scale=1.0">
    ‹title>% block title %t% endblock %}</title>
</head>
<body>
    ‹header>
    <! -- Общий заголовок для всех страниц -->
    <h1>Проект project-tracker</h1>
</header>
    {%include 'base/nav.html' only with param = 'Django'%}
 
‹main>
    {% block content %}
    <! -- Основное содержимое
    {% endblock %}
</main>

< footer>
    <! -- Общий футер для всех страниц --›
    </footer>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Общий заголовок для всех страниц -->
        <h1>Проект контроль качества</h1>
    </header>
    
    {% include 'base/nav.html' only with param='Django' %}
    
    <main>
        {% block content %}
        <!-- Основное содержимое -->
        {% endblock %}
    </main>

    <footer>
        <!-- Общий футер для всех страниц -->
    </footer>
</body>
</html>
